//清除浮动
.clearfix{
  zoom:1;
  &:after{
    clear:both;   
    overflow:hidden; 
    content:"";   
    display:table; 
  }
}
// 字体
.fs34{
  font-size: 15px;
  [data-dpr="2"] & {
    font-size: 34px;
  }
  [data-dpr="3"] & {
    font-size: 58px;
  }
}
.fs32{
  font-size: 14px;
  [data-dpr="2"] & {
    font-size: 32px;
  }
  [data-dpr="3"] & {
    font-size: 54px;
  }
}
.fs30{
  font-size: 13px;
  [data-dpr="2"] & {
    font-size: 30px;
  }
  [data-dpr="3"] & {
    font-size: 52px;
  }
}
.fs28{
  font-size: 12px;
  [data-dpr="2"] & {
    font-size: 28px;
  }
  [data-dpr="3"] & {
    font-size: 48px;
  }
}
.fs26{
  font-size: 11px;
  [data-dpr="2"] & {
    font-size: 26px;
  }
  [data-dpr="3"] & {
    font-size: 44px;
  }
}
.fs24{
  font-size: 10px;
  [data-dpr="2"] & {
    font-size: 24px;
  }
  [data-dpr="3"] & {
    font-size: 42px;
  }
}
.fs42{
  font-size: 18px;
  [data-dpr="2"] & {
    font-size: 42px;
  }
  [data-dpr="3"] & {
    font-size: 72px;
  }
}
//基础颜色
@black: #000;
@dark-gray: #707070;
@gray: #afafaf;
@blue: #419df5;
@red: #ff0000;
@green: #42b983;
@dark-grey: #393a40;
.fs(@px){
    font-size: round(@px / 1.8) * 1px;
    [data-dpr="2"] & {
        font-size: @px * 1px;
    }
    // for mx3
    [data-dpr="2.5"] & {
        font-size: round(@px * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr="2.75"] & {
        font-size: round(@px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        font-size: round(@px / 2 * 3) * 1px;
    }
    // for 三星note4
    [data-dpr="4"] & {
        font-size: @px * 2px;
    }
}

.iconfont{
  .fs(50);
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-align:center;
    -webkit-box-align:center;
    box-align:center;
    -webkit-align-items:center;
    align-items:center;*/
}
.flex1{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    overflow: hidden;
}
.line-clamp(@line){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @line;
    -webkit-box-orient: vertical;
}
.px2rem(@name, @px){
    @{name}: @px / 75 * 1rem;
}

// height width
.width(@px){
    width: @px / 75 * 1rem;
}
.height(@px){
    height: @px / 75 * 1rem;
}

// padding margin
.mg(@top, @right, @bottom, @left){
    margin: @top / 75 * 1rem @right / 75 * 1rem @bottom / 75 * 1rem @left / 75 * 1rem;
}
.mt(@px){
    margin-top: @px / 75 * 1rem;
}
.mb(@px){
    margin-bottom: @px / 75 * 1rem;
}
.ml(@px){
    margin-left: @px / 75 * 1rem;
}
.mr(@px){
    margin-right: @px / 75 * 1rem;
}
.pd(@top, @right, @bottom, @left){
    padding: @top / 75 * 1rem @right / 75 * 1rem @bottom / 75 * 1rem @left / 75 * 1rem;
}
.pt(@px){
    padding-top: @px / 75 * 1rem;
}
.pb(@px){
    padding-bottom: @px / 75 * 1rem;
}
.pl(@px){
    padding-left: @px / 75 * 1rem;
}
.pr(@px){
    padding-right: @px / 75 * 1rem;
}

// line-height
.lh(@px){
    line-height: @px / 75 * 1rem;
}

//border-radius
.br(@px){
  border-radius:@px / 75 * 1rem;
}

// background-size position
.bgsize(@px){
    background-size: @px / 75 * 1rem auto;
}

.bgpos(@px, @px2){
    background-position: (@px / 75 * 1rem)  (@px / 75 * 1rem) ;
}

// position
.top(@px){
    top: @px / 75 * 1rem;
}
.bottom(@px){
    bottom: @px / 75 * 1rem;
}
.left(@px){
    left: @px / 75 * 1rem;
}
.right(@px){
    right: @px / 75 * 1rem;
}